.home {
  background-color: #eceeef;
  border-radius: 10px;
  margin-top: 50px;
  label {
    margin-top: 5px;
  }
  .alert {
  display:inline-block;
  margin-top: 20px;
  }
}

.entry {
  margin-top: 50px;
}

.navbar {
  color: #eceeef
}

.btn {
  margin: 10px 10px 10px 0px;
}
